{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <title>Bài viết</title>
        <meta content="" name="description" />
        <meta content="" name="keywords" />
        <!-- Favicons -->
        <link href="{% static 'assets/img/favicon.png' %}" rel="icon" />
        <link href="{% static 'assets/img/apple-touch-icon.png' %}"
              rel="apple-touch-icon" />
        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
              rel="stylesheet" />
        <!-- Vendor CSS Files -->
        <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
              rel="stylesheet" />
        <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}"
              rel="stylesheet" />
        <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}"
              rel="stylesheet" />
        <link href="{% static 'assets/vendor/quill/quill.snow.css' %}"
              rel="stylesheet" />
        <link href="{% static 'assets/vendor/quill/quill.bubble.css' %}"
              rel="stylesheet" />
        <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}"
              rel="stylesheet" />
        <link href="{% static 'assets/vendor/simple-datatables/style.css' %}"
              rel="stylesheet" />
        <!-- Template Main CSS File -->
        <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
        .created-column {
        width: 150px; /* Hoặc điều chỉnh theo ý bạn */
        }
    </head>
    <body>
        {% include 'includes/admin/header.html' with username=user %}
        {% include 'includes/admin/sidebar.html' with ctx=permission_context %}
        <main id="main" class="main">
            <div class="pagetitle">
                <h1>Bài viết</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active">Bài viết</li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->
            <section class="section dashboard">
                <div class="modal fade"
                     id="createPostModal"
                     tabindex="-1"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Tạo bài viết</h5>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <form method="POST" enctype="multipart/form-data" id="createPostForm">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="postTitle" class="form-label">Tiêu đề</label>
                                        <input type="text" class="form-control" id="postTitle" name="title" required />
                                    </div>
                                    <div class="mb-3">
                                        <label for="postContent" class="form-label">Nội dung</label>
                                        <textarea class="form-control"
                                                  id="postContent"
                                                  name="content"
                                                  rows="3"
                                                  required></textarea>
                                    </div>
                                    <div class="mb-3">
                                        <label for="postImage" class="form-label">Hình ảnh</label>
                                        <input type="file" class="form-control" name="image" id="create-post-image" />
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                    <button type="submit" class="btn btn-primary">Tạo</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End Basic Modal -->
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">Danh sách</h5>
                                <button type="button"
                                        style="margin-top:10px;
                                               width:105px;
                                               height:42px"
                                        class="btn btn-primary"
                                        data-bs-toggle="modal"
                                        data-bs-target="#createPostModal">Thêm mới</button>
                            </div>
                            <!-- Default Table -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Tiêu đề</th>
                                        <th>Người đăng</th>
                                        <th>Nội dung</th>
                                        <th>Hình ảnh</th>
                                        <th>Trạng Thái</th>
                                        <th class="created-column">Ngày tạo</th>
                                        <th>Hành động</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for post in posts %}
                                        <tr>
                                            <td>{{ post.title }}</td>
                                            <td>{{ post.author.username }}</td>
                                            <td>{{ post.content|truncatewords:10 }}</td>
                                            <td>
                                                {% if post.image %}
                                                    <img src="{{ post.image.url }}" alt="Post Image" width="100">
                                                {% else %}
                                                    <img src="{% static 'images/default_post.jpg' %}"
                                                         alt="Default Image"
                                                         width="100">
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if post.status == 'approved' %}
                                                    <span class="badge bg-success">Đã duyệt</span>
                                                {% elif post.status == 'rejected' %}
                                                    <span class="badge bg-danger">Từ chối</span>
                                                {% else %}
                                                    <span class="badge bg-warning">Chờ duyệt</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ post.created_at|date:"d-m-Y H:i" }}</td>
                                            <td>
                                                <div class="d-flex gap-2 align-items-center">
                                                    <!-- Edit Button -->
                                                    {% if permission_context.can_edit_blog_permission %}
                                                        <button type="button"
                                                                class="btn btn-warning"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#editPostModal{{ post.id }}">
                                                            Sửa
                                                        </button>
                                                        <!-- Delete Button -->
                                                        <form method="POST" action="{% url 'delete_post' post.id %}">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-danger">Xóa</button>
                                                        </form>
                                                    {% endif %}
                                                    <!-- Approval button -->
                                                    <!-- {% if post.status == 'pending' and permission_context.can_approve_blog_permission %}
                                                        <form method="POST" action="{% url 'approve_post' post.id %}" class="d-flex flex-column gap-2 justify-content-center">
                                                            {% csrf_token %}
                                                            <div class="text-secondary">Phê duyệt</div>
                                                            <div class="btn-group">
                                                                <button type="submit" name="status" value="approved" class="btn btn-sm btn-outline-success">
                                                                    Duyệt
                                                                </button>
                                                                <button type="submit" name="status" value="rejected" class="btn btn-sm btn-outline-danger">
                                                                    Từ chối
                                                                </button>
                                                            </div>
                                                        </form>
                                                    {% endif %} -->
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- Edit Modal -->
                                        {% if permission_context.can_edit_blog_permission %}
                                            <div class="modal fade"
                                                 id="editPostModal{{ post.id }}"
                                                 tabindex="-1"
                                                 aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Sửa bài viết</h5>
                                                            <button type="button"
                                                                    class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <form method="POST"
                                                              enctype="multipart/form-data"
                                                              action="{% url 'edit_post' post.id %}">
                                                            {% csrf_token %}
                                                            <div class="modal-body">
                                                                <div class="mb-3">
                                                                    <label for="postTitle" class="form-label">Tiêu đề</label>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           name="title"
                                                                           value="{{ post.title }}"
                                                                           required />
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="postContent" class="form-label">Nội dung</label>
                                                                    <textarea class="form-control" name="content" rows="3" required>{{ post.content }}</textarea>
                                                                </div>
                                                                <div class="mb-3">
                                                                    <label for="roomImage" class="form-label">Ảnh Bài Viết</label>
                                                                    <br>
                                                                    {% if post.image %}
                                                                        <a id="oldImageLink_{{ post.id }}"
                                                                           href="{{ post.image.url }}"
                                                                           target="_blank">{{ post.image.name }}</a>
                                                                    {% else %}
                                                                        Chưa có ảnh
                                                                    {% endif %}
                                                                </div>
                                                                Ảnh upload:
                                                                <br>
                                                                <a><span id="imageBase64_{{ post.id }}"></span></a>
                                                                <a id="viewImageLink_{{ post.id }}" style="display:none" target="_blank">Xem ảnh lớn</a>
                                                                <input type="file"
                                                                       class="form-control"
                                                                       name="image"
                                                                       onchange="previewImage(event, {{ post.id }})" />
                                                                <div class="mb-3">
                                                                    <label for="postStatus" class="form-label">Trạng thái</label>
                                                                    <select class="form-control" name="status" required>
                                                                        <option value="pending" {% if post.status == 'pending' %}selected{% endif %}>Chờ duyệt</option>
                                                                        <option value="approved"
                                                                                {% if post.status == 'approved' %}selected{% endif %}>
                                                                            Đã duyệt
                                                                        </option>
                                                                        <option value="rejected"
                                                                                {% if post.status == 'rejected' %}selected{% endif %}>
                                                                            Từ chối
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                                                <button type="submit" class="btn btn-primary">Lưu</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                            <!-- End Default Table Example -->
                        </div>
                    </div>
                </div>
            </section>
        </main>
        {% include 'includes/admin/footer.html' %}
    </body>
    <!-- JS -->
    <script>
        function previewImage(event, serviceId) {
          const file = event.target.files[0];
          
          // Kiểm tra xem có file hay không
          if (!file) return;

          // Tạo đối tượng FileReader mới mỗi lần
          const reader = new FileReader();
          
          reader.onload = function(e) {
              // Tạo đối tượng Blob từ file
              const blob = new Blob([file], { type: file.type });

              // Tạo URL từ Blob
              const blobUrl = URL.createObjectURL(blob);

              // In tên file và cập nhật hiển thị
              const viewLink = document.getElementById('viewImageLink_' + serviceId);
              const imageBase64 = document.getElementById('imageBase64_' + serviceId);
              
              viewLink.textContent = file.name;
              viewLink.href = blobUrl;
              viewLink.style.display = 'inline';
          }
          
          // Đọc file dưới dạng Data URL
          reader.readAsArrayBuffer(file);
      }
    </script>
</html>
